{{partial "nav-main"}}
<div class="container">
  {{ outlet }}
</div>


<footer class="footer">
  <div class="container">
    <p class="text-muted"> Setting Up Gulp for Fullstack </p>
  </div>
</footer>
