<!doctype html5>
<html>
  <head>
    <title>Setting Up Gulp for Fullstack Development</title>

    <link rel="stylesheet" href="/public/assets/styles/main.css">
    
  </head>
  <body>
    {{{body}}}

    <script src="/public/assets/scripts/lib/requirejs/require.js"></script>

    <script>
     require(['/public/assets/scripts/common.js'], function(common) {
       require(['app/main']);
     });
    </script>
    
  </body>
</html>

